In [1]:
import pandas as pd

In [2]:
baza = pd.read_csv('taxi 400k.csv')

In [6]:
baza.head(-4)

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."
...,...,...,...,...,...,...,...,...,...
399991,1380273725620000349,B,NaN,21.0,20000349,1380273725,A,False,"[[-8.628741,41.160915],[-8.62866,41.160951],[-..."
399992,1380274321620000524,C,NaN,NaN,20000524,1380274321,A,False,"[[-8.65386,41.15628],[-8.653824,41.156271],[-8..."
399993,1380276800620000140,B,NaN,15.0,20000140,1380276800,A,False,"[[-8.585865,41.148999],[-8.586495,41.148999],[..."
399994,1380279526620000681,C,NaN,NaN,20000681,1380279526,A,False,"[[-8.690112,41.240241],[-8.690175,41.240178],[..."
399995,1380275493620000272,B,NaN,25.0,20000272,1380275493,A,False,"[[-8.617572,41.146065],[-8.617491,41.14593],[-..."

In [5]:
baza.describe()

            TRIP_ID   ORIGIN_CALL   ORIGIN_STAND       TAXI_ID     TIMESTAMP
count  4.000000e+05  82253.000000  198364.000000  4.000000e+05  4.000000e+05
mean   1.376474e+18  23486.085663      30.422607  2.000035e+07  1.376474e+09
std    2.286724e+15  19692.943272      17.825948  2.098117e+02  2.286724e+06
min    1.372637e+18   2001.000000       1.000000  2.000000e+07  1.372637e+09
25%    1.374427e+18   5444.000000      15.000000  2.000017e+07  1.374427e+09
50%    1.376425e+18  17217.000000      27.000000  2.000035e+07  1.376425e+09
75%    1.378560e+18  39654.000000      49.000000  2.000052e+07  1.378560e+09
max    1.380280e+18  63882.000000      63.000000  2.000098e+07  1.380280e+09